@use "variables";

@mixin bodyFlex($justify, $align ) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    background-color: variables.$primary-color;    
}


@mixin container() {
    background-color: variables.$secondary-color;
    height: 800px;
    width: 800px;
    border: solid 1px black;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    
    
    
    
    .carteRetourne{
        @include carteRetourne(4,variables.$nbreCartes,30,200);
        border: solid 1px red;
        width: 200px;
        
    }
    .carteDistribue{
        @include carte(variables.$nbreCartesDefausse);
        border: solid 1px red;
        width: 200px;
        
    }
   
    
    .carteCache   {
        @include carteRetourne(10,variables.$nbreCartes,500,200);  
        border: solid 1px red;
        width: 200px;           
        
      
    }
    
    
}

@mixin carteRetourne($debut, $monNbreCartes, $left, $top) {
    @for $i from $debut through $monNbreCartes+$debut {
        .carteRetourne-#{$i} {
            display: flex;                    
            flex-direction: column;
            background-color: variables.$carte-color;            
            height: 125px;
            width: 80px;
            border: solid 1px black;
            border-radius: 5px;
            margin-top: 5px;
            margin-left: 50px;
            transform : rotate(90deg);
            position: relative;
          //  top: $top+px  ;
           // left : $left+px;
            
            @if($i >= 10){
                background-image: url(../public/vite.svg) ;
            }
            

            .hautGaucheCarte{
                @include signe(flex-start, flex-start);
                @if($i >= 10){
                    display : none;
                }
                
            }
        
            .centreCarte{
                @include signe(center, center);
                @if($i >= 10){
                    display : none;
                }
            }
        
            .basDroitCarte{
                @include signe(flex-end, flex-end); 
                @if($i >= 10){
                    display : none;
                }
                .reverse{
                    rotate: 180deg;
                }
            } 
            
        }
    }
}

@mixin carte($monNbreCartesDefausse) {
    @for $i from 1 through $monNbreCartesDefausse {
        .carte-#{$i} {
            display: flex;                    
            flex-direction: column;
            background-color: variables.$carte-color;
            height: 125px;
            width: 80px;
            border: solid 1px black;
            border-radius: 5px;
            margin-top: 10px;
            margin-left: 50px; 
            transform : rotate(variables.$random*$i+deg);
            @if($i == 2 ){
                color: red;
            }@else if ($i == 3 ){
                color: blue;
            } 
            
            

            position: absolute;
            @if(variables.$random*$i >= 400){
                top: 400px;
            }@else{
                top: variables.$random*$i+px;
            }
            
            @if(variables.$random*$i*2 >= 500){
                left: 500px;
            }@else{
                left: variables.$random*$i*2+px;
            }
            
            
            
            

            .hautGaucheCarte{
                @include signe(flex-start, flex-start);
            }
        
            .centreCarte{
                @include signe(center, center);
            }
        
            .basDroitCarte{
                @include signe(flex-end, flex-end); 
                .reverse{
                    rotate: 180deg;
                }
            }
        }
    }    
}
@mixin signe($justify, $align){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align; 
    height: 50px ;
    margin : 5px;
}