@use "variables";

@mixin bodyFlex($justify, $align ) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    background-color: variables.$primary-color;    
}


@mixin container() {

    background-color: variables.$secondary-color;
    height: 600px;
    width: 800px;
    border: solid 1px black;
    border-radius: 35px;
    position: relative;
    @for $i from 1 through variables.$nbreCartes {
        .carte-#{$i} {
            display: flex;
            top: 40px*$i;            
            position: absolute;  
            flex-direction: column;
            // translate: 0 -30px*$i;
            background-color: variables.$carte-color;
            height: 125px;
            width: 80px;
            border: solid 1px black;
            border-radius: 5px;
            margin-top: 10px;
            margin-left: 50px; 
           // transform : rotate(variables.$random+deg)  ;
            z-index:$i;

            .hautGaucheCarte{
                @include signe(flex-start, flex-start);
            }
        
            .centreCarte{
                @include signe(center, center);
            }
        
            .basDroitCarte{
                @include signe(flex-end, flex-end); 
                .reverse{
                    rotate: 180deg;
                }
            }
        }
      }
}

@mixin signe($justify, $align){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align; 
    height: 50px ;
    margin : 5px;
}