@use 'sass:math';

$primary-color:#279527;
$secondary-color:lighten($primary-color, 50%);
$carte-color:lighten($secondary-color, 50%);
$random : math.random(200);
$nbreCartes: 6;
$nbreCartesDefausse: 3;
$debut: 4;